@tailwind base;
@tailwind components;
@tailwind utilities;
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
 


html,body{
height: 100%;
width: 100%;
} 

body{
  background-color: #000;
  color: #fff;
}

::selection{
  background-color: #fff;
  color: #000;
}


::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #E4D0D0; 
  border-radius: 10px;
}

.custom-list li {
  list-style-type: disc; /* or any other list style type */
  list-style-position: inside;
  color: white; /* Change this to the desired color */
  padding-left: 1rem;
}


