@tailwind base;
@tailwind components;
@tailwind utilities;
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
  --custom-black: #1e1e24;  /* Define the color variable */
  --custom-text: #a1a1aa;
}



html,body{
height: 100%;
width: 100%;
} 

body{
  background-color: var(--custom-black);
  color: var(--custom-text);
}

::selection{
  background-color: #fff;
  color: #000;
}


::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #E4D0D0; 
  border-radius: 10px;
}

.custom-list li {
  list-style-type: disc; /* or any other list style type */
  list-style-position: inside;
  color: white; /* Change this to the desired color */
  padding-left: 1rem;
}


